@import "bourbon";
@import "neat";
@import "mixins";
@import "vars";

header {
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	position: fixed;
}

header, #search-input {
	font-weight: $medium;
	font-family: $oswald;
	text-transform: uppercase;
}

#topbar {
	position: relative;

	&:after {
		content: '';
		bottom: 0;
		width: 100%;
		height: 1px;
		position: absolute;
		background-color: #d1baab;
	}
	.container {
		@include flex;
		@include flex-space;
		height: 9.375rem;

		> div {
			@include flex;
		}
	}
	.logo {
		@include center;
	}
	a {
		color: inherit;
	}
	.welcome, #search, #shopping-bag {
		@include flex;

		&:before {
			margin-right: .75rem;
		}
	}
	.welcome:before {
		@include fa('\f007');
		margin-top: .1rem;
	}
	#search:before {
		@include fa('\f002');
	}
	#shopping-bag:before {
		@include fa('\f290');
	}
	.divider {
		width: 2px;
		height: .875rem;
		background: #999;
		margin: 0 2rem;
	}
}

#topbar, #search-input {
	color: #999;
	font-size: .875rem;
}

#search-input {
	border: 0;
	padding: 0;
	max-width: 2.75rem;
}

nav {
	background-color: #4a4c57;

	a {
		color: $white;
	}
}

#menu {
	@include flex;
	@include flex-space(center);
	font-size: .813rem;
	letter-spacing: 1px;

	.top {
		position: relative;

		&.active, &:hover {
			&:before {
				content: '';
				left: 0;
				height: 2px;
				width: 100%;
				position: absolute;
				background: $orange;
			}
		}
		> a {
			display: block;
			position: relative;
			padding: .65rem 1.5rem;
		}
	}
	.has-children {
		> a:after {
			margin-left: .75rem;
			@include fa('\f107');
		}
	}
	.has-children > ul, .product-submenu {
		top: 2.5rem;
		left: 1.25rem;
		display: none;
		position: absolute;
		border: 1px solid $border2;
		box-shadow: 5px 5px 10px 0 rgba($black,.2);

		a {
			display: block;
			padding: 0 1.5rem;
			transition: all .3s;
			font-weight: $normal;
		}
		li {
			&.active, &:hover {
				a {
					text-decoration: underline;
				}
			}
			&:not(:last-of-type) {
				margin-bottom: .5rem;
			}
		}
	}
	.has-children > ul, .product-submenu ul {
		min-width: 12rem;
		background: $orange;
		padding: 1.25rem 0;
	}
	.product-submenu {
		> div {
			@include flex(flex, inherit);
		}
		ul li:nth-last-of-type(2) {
			margin-top: 3rem;
		}
		a {
			position: relative;

			&:hover {
				&:after {
					right: -.5rem;
					color: $border2;
					font-size: 2rem;
					@include fa('\f105');
					@include vertical-center(50%, absolute);
				}
			}
		}
	}
	.product-image {
		min-width: 15rem;
		background: $white;
		border-left: 1px solid $border2;
		background-size: cover !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}
}