@import "bourbon";
@import "neat";
@import "mixins";
@import "vars";

header {
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	position: fixed;
}

#topbar {
	position: relative;

	&:after {
		content: '';
		bottom: 0;
		width: 100%;
		height: 1px;
		position: absolute;
		background-color: #d1baab;
	}
	.container {
		height: 6.25rem;
		@include flex;
		@include flex-space;
	}
}

nav {
	font-weight: $bold;
	font-family: $oswald;
	background-color: $peach;

	a {
		color: $black;
		text-transform: uppercase;
	}
}

#menu {
	height: 2.5rem;
	@include flex;
	@include flex-space;
	@include max-width(20rem);

	.has-children {
		a:after {
			margin-left: .75rem;
			@include fa('\f107');
		}
		ul {
			display: none;
		}
	}
}