@import "bourbon";
@import "neat";
@import "mixins";
@import "vars";

.form-blueprint-products {
	.field-name-products .structure-entries.ui-sortable {
		@include flex;
		@include flex-space(flex-start);

		> div {
			width: 32%;
			margin-bottom: 2.25%;

			&:not(:nth-child(3)) {
				margin-right: 2%;
			}
		}
	}
}