@import "bourbon";
@import "neat";
@import "mixins";
@import "vars";

/*=============================
=            Reset            =
=============================*/

html, body, div, span, iframe, blockquote, pre,
a, h1, h2, h3, h4, h5, h6, p, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

a {
	text-decoration: none;
}

blockquote, q {
	quotes: none;
}

ol, ul {
	list-style: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=============================
=            Styles           =
=============================*/

body {
	color: $body-color;
	font-size: 1rem;
	font-weight: $medium;
	font-family: $roboto;
	@include selection(rgba($blue, .8), $white);

	> * {
		background: $white;
		position: relative;
	}
}

.container {
	@include container(5rem);
	@include max-width(83.125rem);

	@include media($mobile) {
		@include container(1.5rem);
	}
}

strong {
	font-weight: $bold;
}

a:not(.button) {
	color: inherit;
	transition: all .15s;

	&:hover {
		color: $blue;
	}
}

button, .button {
	color: $white;
	font-size: 1rem;
	height: 2.25rem;
	padding: 0 2rem;
	font-weight: $bold;
	background: $orange;
	font-family: $oswald;
	display: inline-block;
	text-transform: uppercase;
	transition: all .15s linear;

	&.big {
		height: 3.125rem;
		line-height: 3.125rem;
	}
	&.small {
		height: 1.875rem;
		padding: 0 1.5rem;
		font-size: .875rem;
		line-height: 1.875rem;
	}
	&.added {
		background: $blue;
		pointer-events: none;
	}
	&:hover {
		background: $blue;
	}
}

.button {
	line-height: 2.25rem;
}

#slider, #hero, body.product main,
body.gallery #product-navigation,
body.login main {
	margin-top: 11.875rem;
}

#slider .slide, #hero,
#login-container {
	color: $white;
	font-weight: $light;
	font-family: $oswald;

	.container {
		width: 100%;
		@include horizontal-center(50%, absolute);
	}
	.title, h1, .half-container h2 {
		font-size: 3rem;
		letter-spacing: 2.5px;
		text-transform: uppercase;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

#hero {
	height: 30rem;

	&.short {
		height: 17rem;

		.container {
			top: 4rem;
		}
	}
	&.shorter {
		height: 9.375rem;

		.container {
			@include center;
		}
	}
	> div:first-of-type {
		@include fixed-bg(30rem, 11.875rem);
	}
	.container {
		top: 5rem;

		> div {
			max-width: 40rem;
		}
	}
	h2 {
		font-size: $title;
	}
	p {
		line-height: 1.5;
		font-size: $big;
		font-family: $roboto;
	}
}

body.default #hero h2 {
	margin-bottom: 1.5rem;
}

/*=============================
=             Form            =
=============================*/

form {
	.row {
		margin-bottom: 1rem;
	}
	label {
		font-size: .813rem;

		&.required:after {
			content: ' *';
			color: $red;
		}
	}
}

#form-message {
	&.success {
		color: $green;
	}
	&.error {
		color: $red;
	}
}

.button-message-container {
	@include flex;
	margin-top: 2rem;

	> *:first-child {
		margin-right: 2rem;
	}
}

button {
	border: 0;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;

	&.disable {
		pointer-events: none;
		background-color: rgba($orange, .7);
	}
}

button, input:not([type=radio]), select, textarea {
  	outline: none !important;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input:not([type=radio]):not([type=checkbox]), select, textarea {
	width: 100%;
	display: block;
	font-size: 1rem;
  	border-radius: 3px;
	transition: .3s all;
	font-family: $roboto;
	border: 2px solid $border3;

  	&.error {
  		border-color: $red !important;
  	}
	&:focus {
		border-color: $blue !important;
	}
}

input:not([type=radio]):not([type=checkbox]), select {
	height: 2rem;
	padding: 0 .5rem;
}

.select-container {
	position: relative;

	&:after {
		@include fa('\f107');
		right: .5rem;
		@include vertical-center(50%, absolute);
	}
}

textarea {
	resize: none;
	padding: .5rem;
	height: 6.35rem;
}

label {
	display: block;
	margin-bottom: .5rem;
}

.radio-container {
	> div {
		@include flex(flex, flex-start);

		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
	input {
		margin: .175rem 1rem 0 0;
	}
	label {
		margin-bottom: 0;
	}
}

.checkbox-container, .yesno-wrapper {
	@include flex;

	label {
		margin-bottom: 0;
	}
}

.yesno-wrapper {
	position: relative;

	label {
		font-size: 1rem;
		font-weight: $normal;
		margin-left: 1.75rem;
	}
}

input[type=checkbox] {
	margin: 0;
	line-height: 1;
	@include vertical-center(50%, absolute);

	&:before {
		@include fa('\f096');
		font-size: 1rem;
	}
	&:not(:checked):focus:before {
		color: $blue;
	}
	&:checked:before {
		@include fa('\f046');
	}
	&.error:not(:checked):before {
		color: $red;
	}
}

.error {
	border-color: $red;
}

/*=============================
=         Product Item        =
=============================*/

.product-list-container {
	@include flex(flex, inherit);
	@include flex-space(flex-start);
}

.product-item {
	width: 100%;
	margin-bottom: 2rem;
	max-width: 16.875rem;

	&:not(:nth-of-type(4n)) {
		margin-right: 1.875rem;
	}
	&:not(.bracelet) .product-image {
		&, img {
			display: block;
			min-height: 16.875rem;
			max-height: 16.875rem;
		}
	}
	&.bracelet .product-image img {
		width: 100%;
	}
	.product-image {
		overflow: hidden;
		position: relative;
		margin-bottom: 1.25rem;

		& {
			display: block;
			min-height: 16.875rem;
			max-height: 16.875rem;
		}
		img {
			width: auto;
			@include center;
		}
	}
	h3 {
		font-size: 1.5rem;
		font-weight: $light;
		font-family: $oswald;
		margin-bottom: .25rem;
		text-transform: uppercase;

		a {
			color: inherit;
			text-decoration: none !important;
		}
	}
	p {
		margin-bottom: .5rem;
	}
	.price {
		margin-bottom: .5rem;
		font-family: $raleway;
		font-weight: $semi-bold;
	}
	.ratings {
		margin-bottom: 2.5rem;
	}
}

.ratings {
	@include flex;

	span {
		&:before {
			display: block;
		}
		&:not(.full):before {
			@include fa('\f006');
		}
		&.full:before {
			@include fa('\f005');
		}
	}
}

.pagination {
	font-size: .875rem;

	&, ul {
		@include flex;
	}
	a {
		color: inherit;
	}
	> a {
		width: 2.188rem;
		height: 2.188rem;
		background: #eee;
		position: relative;

		&:before {
			@include center;
		}
		&.next:before {
			@include fa('\f105');
		}
		&.prev:before {
			@include fa('\f104');
		}
	}
	.disabled, .active {
		cursor: default;
		pointer-events: none;
	}
	.disabled {
		background: #d8d9db;
	}
	ul {
		font-weight: $bold;
		font-family: $oswald;
		margin: 0 1rem;

		li:not(:last-child) {
			margin-right: .5rem;
		}
		a:hover, a.active {
			text-decoration: underline;
		}
	}
}

/*=============================
=      Product Navigation     =
=============================*/

#product-navigation {
	border-bottom: 1px solid $border;

	.container {
		@include flex;
		@include flex-space(center);
	}
	a {
		height: 3.125rem;
		color: inherit;
		font-size: $small;
		font-weight: $bold;
		font-family: $oswald;
		position: relative;
		text-transform: uppercase;

		&:not(:last-child) span {
			border-right: 1px solid $border;
		}
		&.active:after {
			content: '';
			width: 100%;
			height: 1px;
			bottom: -1px;
			position: absolute;
			background: $black;
		}
	}
	span {
		display: block;
		padding: 0 2.5rem;
		@include vertical-center;
	}
}

/*=============================
=      Category Description   =
=============================*/

#category-description {
	@include flex;
	margin-bottom: 3.5rem;

	> div {
		width: 50%;

		&:last-of-type {
			max-width: 33.5rem;
		}
	}
	.title {
		color: $blue;
		font-size: $title;
		font-weight: $light;
		font-family: $oswald;
		text-transform: uppercase;
	}
}

/*=============================
=           Default           =
=============================*/

body.default main section {
	position: relative;

	&:nth-of-type(odd) > div {
		&:first-child > div {
			padding-right: 3rem;
		}
		&:last-child {
			right: 0;
		}
	}
	&:nth-of-type(even) > div {
		&:first-child {
			overflow: auto;

			> div {
				float: right;
				padding-left: 3rem;
			}
		}
		&:last-child {
			left: 0;
		}
	}
	> div {
		&:first-child {
			line-height: 1.75;
			padding-top: 3rem;
			padding-bottom: 3rem;

			> div {
				width: 50%;

				> *:not(:last-child) {
					margin-bottom: 2rem;
				}
			}
		}
		&:last-child {
			@include bg;
			top: 0;
			width: 50%;
			height: 100%;
			position: absolute;
			background-attachment: fixed;
		}
	}
}

/*=============================
=          Coming Soon        =
=============================*/

body#coming-soon {
	height: 100vh;
	text-align: center;

	.container {
		position: relative;

		> div {
			padding: 5rem 3rem 9.5rem;
			background: none;
			transform: translateY(20%);
			@include max-width(56.75rem);
			border: 3px solid $body-color;
			background: url('/assets/images/coming-soon-bg.png') no-repeat center/cover;

			> div {
				position: relative;
				font-weight: $light;
				margin-bottom: 3rem;
				padding-bottom: 3rem;

				&:after {
					content: '';
					background: $black;
					height: 3px;
					width: 4rem;
					bottom: 0;
					@include horizontal-center(50%, absolute);
				}
			}
		}
	}
	figure {
		@include horizontal-center(50%, absolute);

		&:first-of-type {
			top: -4.375rem;
			padding: 0 2rem;
			background: $white;
		}
		&:last-of-type {
			bottom: -2.5rem;
		}
		img {
			display: block;
		}
	}
	h1, h2 {
		font-family: $oswald;
	}
	h1 {
		font-size: 3.75rem;
		letter-spacing: .75rem;
		text-transform: uppercase;
	}
	h2 {
		text-transform: uppercase;
	}
	input {
		height: 2.5rem;
		margin-top: 1rem;
		margin-bottom: 1.25rem;
		@include max-width(25.938rem);
	}
	button {
		color: $black;
	}
	#form-message {
		margin-bottom: 1.25rem;
	}

	@include media($mobile) {
		height: calc(100vh + 2rem);

		.container > div {
			transform: translateY(77px);
			padding: 4rem 1.5em 9.5rem;

			> div {
				margin-bottom: 2rem;
				padding-bottom: 2rem;
			}
		}
		h1 {
			line-height: 1.25;
			font-size: 2.5rem;
			margin-bottom: 1.25rem;
		}
	}
}

/*=============================
=             Steps           =
=============================*/

#steps {
	@include flex;
	overflow: hidden;

	a {
		width: 33.33%;
		color: inherit;
		display: block;

		&:not(:last-child) {
			position: relative;

			&:after {
				content: '';
				top: 0;
				z-index: 1;
				width: 3.75rem;
				height: 3.75rem;
				right: -1.125rem;
				position: absolute;
				background: #f7f7f7;
				transform: rotate(45deg);
				border-top: 2px solid $white;
				border-right: 2px solid $white;
			}
		}
		&.current {
			color: $white;
			background: $blue;

			&:after {
				background: $blue;
				border-top: 2px solid $blue;
				border-right: 2px solid $blue;
			}
		}
	}
}

/*=============================
=            Login            =
=============================*/

body#login {
	main#login-container {
		color: $white;
		@include flex(flex, inherit);

		> div {
			width: 50%;
			padding: 3.5rem 0;
			text-align: center;
			@include bg;

			&:nth-child(2) {
				&, > div {
					position: relative;
				}
				&:before {
					content: '';
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					position: absolute;
					background: rgba($black, .2);
				}
				> div {
					z-index: 1;
				}
				p:last-child {
					margin-top: 5rem;
				}
				.button {
			    	background: none;
			    	line-height: 3rem;
					border: 2px solid $white;

					&:hover {
						background: $blue;
						border-color: $blue;
					}
				}
			}
			> div {
				@include max-width(21.875rem);
			}
			h2 {
				line-height: 1.25;
				@include max-width(15rem);

				&:not(:last-child) {
					margin-bottom: 1.25rem;
				}
			}
			p {
				line-height: 1.5;
				font-family: $roboto;
			}
			a:not(.button) {
				font-size: .875rem;
				font-style: italic;
				font-family: $roboto;
				text-decoration: underline;
			}
			.button, button {
				width: 15.375rem;
			}
			button {
				margin-top: 3rem;

				&:hover {
					color: $blue;
					background: $white;
				}
			}
			form {
				margin-top: 3rem;
			}
			input {
				border: 0;
				color: $white;
				background: none;
				border-radius: 0;
				text-align: center;
				border-bottom: 2px solid $white;

				&::placeholder {
					color: $white;
				}
				&:focus {
					border-color: $orange !important;
				}
				&:first-of-type {
					margin-bottom: 1.75rem;
				}
			}
		}
	}
	#form-message {
		&.error, &.success {
			margin-bottom: 1rem;
		}
	}
}

/*=============================
=           Sign Up           =
=============================*/

#popup-signup {
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	background: rgba($black, .8);

	> div {
		width: 75%;
		overflow-x: hidden;
		overflow-y: scroll;
		background: $white;
		max-height: 46.25rem;
		max-width: 35.375rem;
		border: 2px solid $blue;
		padding: 2rem 3.5rem 2.25rem;
		@include center;
	}
	.close {
		top: 0;
		line-height: 1;
		right: -1.75rem;
		position: absolute;

		&:before {
			@include fa('\f00d');
			color: $white;
			font-size: 1.25rem;
		}
	}
	img {
		display: block;
		margin: 0 auto 1.5rem;
	}
	.title {
		color: $blue;
		font-size: $title;
		text-align: center;
		font-weight: $light;
		font-family: $oswald;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
	}
	#form-message {
		&.error, &.success {
			margin-bottom: 1rem;
		}
	}
	input:not([type=checkbox]) {
		border: 0;
		padding: 0;
		background: none;
		border-radius: 0;
		border-bottom: 2px solid $body-color;

		&::placeholder {
			color: $body-color;
		}
		&[type=date] {
			&:before {
				content: attr(placeholder)':';
				color: $body-color;
				margin-right: .5rem;
			}
			&:focus:before {
				display: none !important;
			}
		}
		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
	.yesno-wrapper {
		&:not(:first-child):first-of-type {
			margin-top: 1.75rem;
		}
		&:not(:last-child) {
			margin-bottom: .5rem;
		}
		a {
			text-decoration: underline;
		}
	}
	button {
		width: 100%;
		display: block;
		margin-top: 2.5rem;
		@include max-width(15.625rem);
	}
}