@import "bourbon";
@import "neat";
@import "mixins";
@import "vars";

/*=============================
=            Reset            =
=============================*/

html, body, div, span, iframe, blockquote, pre,
a, h1, h2, h3, h4, h5, h6, p, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

a {
	text-decoration: none;
}

blockquote, q {
	quotes: none;
}

ol, ul {
	list-style: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=============================
=            Styles           =
=============================*/

body {
	color: $black;
	font-size: 1rem;
	font-weight: $medium;
	font-family: $roboto;
	@include selection($peach, rgba($black, .9));

	> * {
		background: $white;
		position: relative;
	}
}

.container {
	@include container(5rem);
	@include max-width(83.125rem);
}

button, .button {
	color: $black;
	font-size: 1rem;
	height: 2.25rem;
	padding: 0 2rem;
	font-weight: $bold;
	font-family: $oswald;
	display: inline-block;
	border: 2px solid $black;
	text-transform: uppercase;

	&.white {
		color: $white;
		border-color: $white;
	}
	&.small {
		height: 1.875rem;
		padding: 0 1.5rem;
		font-size: .875rem;
		line-height: 1.625rem;
	}
}

.button {
	line-height: 2rem;
}

#slider, #hero {
	margin-top: 8.75rem;
}

#slider .slide, #hero {
	color: $white;
	font-weight: $light;
	font-family: $oswald;

	.container {
		width: 100%;
		@include horizontal-center(50%, absolute);
	}
	.title, h1 {
		font-size: 3rem;
		margin-bottom: 1rem;
		letter-spacing: 2.5px;
		text-transform: uppercase;
	}
}

#hero {
	height: 30rem;

	&.short {
		height: 17rem;

		.container {
			top: 4rem;
		}
	}
	> div:first-of-type {
		@include fixed-bg(30rem, 8.75rem);
	}
	.container {
		top: 5rem;

		> div {
			max-width: 40rem;
		}
	}
	h2 {
		font-size: $title;
	}
	p {
		line-height: 1.5;
		font-size: $big;
		font-family: $roboto;
	}
}

body.default #hero h2 {
	margin-bottom: 1.5rem;
}

/*=============================
=             Form            =
=============================*/

button {
	cursor: pointer;
	background: none;
	display: inline-block;
	vertical-align: middle;
}

button, input, select, textarea {
  	outline: none !important;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input, select, textarea {
	width: 100%;
	display: block;
	font-size: 1rem;
  	border-radius: 3px;
	font-family: $roboto;
	border: 2px solid #e1e1e1;
	transition: .3s all;

 //  	&.error {
 //  		border-color: $red !important;
 //  	}
	&:focus {
		border-color: $black !important;
	}
}

input, select {
	height: 2rem;
	padding: 0 .5rem;
}

textarea {
	resize: none;
	padding: .5rem;
	height: 6.35rem;
}

label {
	display: block;
	margin-bottom: .5rem;
}

/*=============================
=         Product Item        =
=============================*/

.product-list-container {
	@include flex(flex, inherit);
	@include flex-space(flex-start);
}

.product-item {
	max-width: 16.875rem;
	margin-bottom: 2rem;

	&:not(:nth-child(4n)) {
		margin-right: 1.875rem;
	}
	.product-image {
		margin-bottom: 1.25rem;

		&, img {
			display: block;
		}
		img {
			width: 100%;
		}
	}
	h3 {
		margin-bottom: .25rem;

		a {
			color: inherit;
		}
	}
	p {
		margin-bottom: .5rem;
	}
	.price {
		margin-bottom: .5rem;
		font-family: $raleway;
		font-weight: $semi-bold;
	}
	.ratings {
		@include flex;
		margin-bottom: 2.5rem;

		span {
			&:before {
				display: block;
			}
			&:not(.full):before {
				@include fa('\f006');
			}
			&.full:before {
				@include fa('\f005');
			}
		}
	}
}