@import "bourbon";
@import "neat";
@import "../mixins";
@import "../vars";

#hero {
	height: 30rem;

	&.short {
		height: 19rem;
	}
	> div:first-of-type {
		@include fixed-bg(30rem, 8.75rem);
	}
	.container {
		top: 5rem;

		> div {
			max-width: 40rem;
		}
	}
	h2 {
		font-size: 1.875rem;
		margin-bottom: 1.5rem;
	}
	p {
		line-height: 1.5;
		font-size: 1.25rem;
		font-family: $roboto;
	}
}