@import "bourbon";
@import "neat";
@import "../mixins";
@import "../vars";

main {
	padding: 3rem 0;
}

/*=============================
=        Product Details      =
=============================*/

body.product {
	main {
		h1 {
			font-size: $title;
			font-weight: $light;
			font-family: $oswald;
			margin-bottom: 1rem;
		}
		a:not(.button) {
			color: inherit;
			text-decoration: underline;
		}
	}
	.product-details {
		margin: 1.75rem 0 4rem;
		@include flex(flex, flex-start);

		> div:last-child {
			width: 45.727%;
		}
		h2 {
			font-size: 1.5rem;
			margin-bottom: .5rem;
			font-weight: $light;
			font-family: $oswald;
			text-transform: uppercase;
		}
		p {
			line-height: 1.75;
			font-weight: $light;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
		.photo-container {
			@include bg;
			width: 50%;
			margin-right: 4.273%;
			position: relative;
			max-width: 36.5rem;
			padding-bottom: 33.8462%;
			border: 1px solid #c2c2c2;
			// width: 584px;
			// height: 398px;

			> div {
				top: 0;
				left: 0;
				position: absolute;
				padding: .75rem 0 0 .75rem;
			}
			img {
				display: block;
				cursor: pointer;
				width: 4.438rem;
				border: 1px solid #c2c2c2;

				&:not(:last-child) {
					margin-bottom: .75rem;
				}
			}
		}
		.reviews-container {
			@include flex;
			@include flex-space;
			margin-top: 1.5rem;
			padding: 1.5rem .75rem;
			border-top: 1px solid $border;
			border-bottom: 1px solid $border;

			> div:first-child {
				@include flex(flex, flex-end);
			}
			.ratings {
				margin-left: .75rem;

				span {
					font-size: 1.5rem;

					&:not(:last-child) {
						margin-right: .25rem;
					}
				}
			}
		}
		.price {
			padding: 0 .75rem;
			font-size: 2.25rem;
			margin-top: 1.5rem;
			font-family: $oswald;
		}
		.buy-container {
			@include flex;
			@include flex-space;
			margin-top: 1.5rem;

			> * {
				width: 47%;
				max-width: 15.625rem;
			}
			.button {
				height: 3rem;
				text-align: center;
				line-height: 3rem;
			}
			.select-container:after {
				right: 1.25rem;
			}
			select {
				height: 3rem;
				border-radius: 0;
				padding: 0 1.25rem;
				font-family: $oswald;
				border: 1px solid $black;
				text-transform: uppercase;
			}
		}
	}
	.product-list-container {
		padding: 2.5rem 0;
		border-top: 1px solid $border;

		h2 {
			width: 100%;
			font-size: $title;
			font-weight: $light;
			font-family: $oswald;
			margin-bottom: 2.25rem;
			text-transform: uppercase;
		}
	}
}